* {
  margin: 0%;
  padding: 0%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 25px;
  background: rgb(249, 247, 247);
}

a {
  text-decoration: none;
  color: #001001;
  transition: border-bottom 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
}

a:hover {
  color: rgb(16, 191, 0);
  border-bottom: 2px solid #ffffff;
}

.logo {
  color: #3bee00;
  padding: 10px;
  font-size: 1.6rem;
  font-weight: bold;
}
.nav-links {
  display: flex;
  padding-top: 9px;
  justify-content: space-around;
  width: 50%;
  font-size: 1.3rem;
}

.nav-links li {
  list-style: none;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1024px) {
  .main-header {
    font-size: 2.5rem;
    font-weight: bold;
    color: #00469b;
  }
  .sub-header {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2888ff;
  }
}

@media screen and (max-width: 580px) {
  .body {
    margin: 0%;
    padding: 0%;
    width: 100%;
  }
  /*navbar*/
  .nav {
    margin: 0%;
    padding: 25px;
  }
  .logo {
    padding: 9px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding-right: 9%;
  }
}
